{
  "extends": [
    "plugin:vue/vue3-essential", // This option doesn't impose formatting rules
    "plugin:vue/vue3-strongly-recommended", // This option imposes formatting rules on your code to improve readability 
  ],
  "rules": {
    // override/add rules settings here, such as:
    // 'vue/no-unused-vars': 'error'
    "vue/multi-word-component-names": 0,
    "indent": ["error", 2]
  },
  "overrides": [
    {
      "files": "*.*",
      "rules": {
        "indent": ["error", 2]
      }
    }
  ]
}
