* {
  scrollbar-width: thin;
  scrollbar-color: #0470b8 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #0470b8;
  border-radius: 8px;
}